/* font general */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font local */
@font-face {
    font-family: 'Ichiji';
    src: url('../assets/fonts/Ichiji-One.otf');
}

@layer base{
    html{
        font-family:'Oxanium', cursive;
    }
}